#root {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 620px;
}

.input-type {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 10px;
}

.input-type select {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-type label {
  margin-bottom: 5px;
}

.input-type select option {
  padding: 5px;
}

.input-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 10px;
}

.input-text textarea {
  max-width: 620px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-key {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 40px;
}

.input-key input {
  max-width: 620px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-right: 10px; 
}

.output {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 20px;
  overflow: auto;
}

.output label {
  margin-bottom: 5px;
  max-width: 620px;
}

.matrix-hill {
  font-size: 16px;
  margin-top: 10px;
}

.matrix-hill input {
  padding: 8px;
  max-width: 50px;
  font-size: 16px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}